span#typed-cursor{
    display: none;
}
#home {
    /* height: 100vh; */
    /* display: inline-flex; */
    /* width: 100%; */
    text-align: center;
    /* background: url(images/computer-hardware-background-images.jpg) no-repeat fixed center; */
    /* background: url(images/home-background.png) no-repeat fixed center; */
    background: url(images/scrum-board.jpg) no-repeat fixed center;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.headline {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: rgba(238, 240, 242, 1);
}

.footer {
    padding: 0%;
    text-align: center;
    color:#B8C9A3;
}

.persian {
    font-family: 'Vazir';
}


.sat-wrapper{
    background-color:rgba(0,0,0,0.9);
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: fill-available;
    
}
.sat-nav-ok{
padding-top: 3.25rem;

}

#bio{
    padding: 5%;
    font-family: 'Courier New', Courier, monospace;
}

#socials{
    position: absolute;
    bottom:0px;
    width:100%;
}

.sat-hover :hover{
color:#85144B;
}